"*":
  "atom-jsfmt": {}
  "atom-material-ui":
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      animations: false
  "atom-typescript": {}
  core:
    audioBeep: false
    automaticallyUpdate: false
    disabledPackages: [
      "language-objective-c"
      "language-toml"
      "metrics"
      "spell-check"
      "welcome"
      "background-tips"
      "exception-reporting"
      "html2haml"
      "language-c"
      "language-go"
      "language-make"
      "language-perl"
      "language-php"
      "package-generator"
      "release-notes"
      "bezier-curve-editor"
      "wrap-guide"
    ]
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "abdcc898-2e75-27c0-0379-20773d3a6a0c"
  "file-icons":
    coloured: false
    onChanges: true
    tabPaneIcon: false
  jshint:
    validateOnlyOnSave: true
  linter: {}
  "linter-eslint": {}
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "merge-conflicts": {}
  metrics:
    userId: "f242d82928d961b51a30b1a727a7b7b40faea6d0"
  minimap: {}
  pigments: {}
  "release-notes":
    viewedVersion: "0.92.0"
  "split-diff":
    ignoreWhitespace: true
  "tree-view":
    showOnRightSide: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  welcome:
    showOnStartup: false
